
<div>
    <h4>User Form</h4>
    <form action="/submit-user-form", method="POST" >

        <div class="mb-3"></div>
        <label for="exampleFormControlInput1" class="form-label">User Email</label>
        <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">User Feedback</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="feedback"></textarea>
        </div>

        <input type="submit" class="btn btn-outline-success" style="font-weight: bold;" value="Submit Feedback">

    </form>

</div>