doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PugApp
    body 

        form(action="/user", method="POST")

            input(type="text", name="username", placeholder="enter username")
            input(type="submit", value="Login") 
        
        block content