
<div>

    <div class="card text-center">
        <div class="card-header">
            iBank Login
        </div>
        <div class="card-body">
            <h5 class="card-title">User Login</h5>
            <p class="card-text" style="text-align: center;">

                <form class="row g-3">
                    <div class="input-group">
                        {{!-- <span class="input-group-text">enter your credentials</span> --}}
                        <input type="text" aria-label="Username" class="form-control" placeholder="username">
                        <input type="password" aria-label="Password" class="form-control" placeholder="password">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-dark mb-3">Login</button>
                    </div>
                </form>

            </p>
            
        </div>
       
    </div>



</div>