
<div>
<br>
        <form class="row g-3" method="POST">

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                        <label for="Username" class="form-label">username</label>
                        <input type="text" class="form-control" id="Username">
                        <label for="inputPassword4" class="form-label">password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                        <label for="phone" class="form-label">phone number</label>
                        <input type="phone" class="form-control" id="phone">

                        <button type="button" class="nav nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        read terms and condtions
                        </button>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" required value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Terms and Condtions agreed
                            </label>
                        </div>
                    </div>

                    {{!-- MODAL --}}

                    <!-- Button trigger modal -->
                        

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Terms and Conditions</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-dialog-scrollable">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aspernatur provident. Facere laborum consectetur recusandae dolorem provident illum labore laudantium! Repellat minima sed, nisi accusantium distinctio officia vitae molestias nihil.</p>
                                 
                                </div>
                           
                            </div>
                        </div>
                        </div>

                  
                    <div class="col-md-6">

                        <label for="inputAddress" class="form-label">address line 1</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                         <label for="inputAddress2" class="form-label">address line 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">

                        <div class="row g-3">

                            <div class="col-md-6">

                            <label for="inputCity" class="form-label">city</label>
                            <input type="text" class="form-control" id="inputCity">
                            <label for="inputState" class="form-label">state</label>

                            <select id="inputState" class="form-select">
                                
                                <option selected>choose...</option>
                                <option>...</option>
                            
                            </select>

                             <label for="inputZip" class="form-label">zip</label>
                            <input type="text" class="form-control" id="inputZip">
                            <br>

                        </div>

                        <div class="col-md-6">
                            <br>
                            <div class="card">
                                <div class="card-body" style="align-content: center;">

                                    <h5 class="card-title">upload profile pic</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">optional</h6>
                                    <div class="input-group"></div>
                                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload"><br>
                                        <button class="btn btn-warning" type="button" id="inputGroupFileAddon04">upload</button>
                                    </div>
                                  
                                </div>
                            </div>


                            
                           
                        </div>

                        

                           

                        </div>

                        
                    </div>
                
                
                   <div class="d-grid gap-2 col-6 mx-auto">

                       <input type="submit" class="btn btn-success" value="Register">
                        
                    </div>
        </form>
    

</div>