
<div>
<br>
        <form class="row g-3" method="POST">

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                        <label for="Username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="Username">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="phone" class="form-control" id="phone">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="phone" class="form-control" id="phone">
                    </div>

                  
                    <div class="col-md-6">

                        <label for="inputAddress" class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                         <label for="inputAddress2" class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">

                        <div class="row g-3">

                            <div class="col-md-6">

                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity">
                            <label for="inputState" class="form-label">State</label>

                            <select id="inputState" class="form-select">
                                
                                <option selected>Choose...</option>
                                <option>...</option>
                            
                            </select>

                             <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                            <br>

                        </div>

                        <div class="col-md-6">
                            <br>
                            <div class="card">
                                <div class="card-body" style="align-content: center;">

                                    <h5 class="card-title">Upload Profile Pic</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">optional</h6>
                                    <div class="input-group"></div>
                                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload"><br>
                                        <button class="btn btn-warning" type="button" id="inputGroupFileAddon04">Upload</button>
                                    </div>
                                  
                                </div>
                            </div>


                            
                           
                        </div>

                        

                           

                        </div>

                        
                    </div>
                
                
                   <div class="d-grid gap-2 col-6 mx-auto">

                       <input type="submit" class="btn btn-success" value="Register">
                        
                    </div>
        </form>
    

</div>