<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h4>Some Content</h4>
    <a href="/add-content">Add Content</a>
    <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae inventore illum error impedit cupiditate voluptatem laborum maiores temporibus veniam iusto molestiae, ullam rerum laudantium tempora culpa quia voluptates tempore totam.
</body>
</html>